body{
  font-size: 18px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
  color: #777;
}

#body {
  width: 960px;
  background-color: #777;
  margin-left: auto;
  margin-right: auto;
}

#header {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  margin-bottom: 1px;
  width: 100%;
  background-color: #ebebeb;
}

#nav {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 1px;
  width: 100%;
  background-color: #ebebeb;
}

#section {
  display: inline-block;
  position: relative;
  right: 211px;
  bottom: 20px;
  padding: 10px;
  width: 495px;
  margin: 50px;
  background-color: #ebebeb;
}

#article {
  padding: 20px;
  background-color: #777;
  color: #ebebeb;
}

#hclasses {
  padding: 20px;
  margin: 5px;
  background-color: #ebebeb;
  color: #777
}

#paragraph {
  padding: 20px;
  margin: 5px;
  background-color: #ebebeb;
  color: #777
}

#aside {
  position: relative;
  display: inline-block;
  width: 458px;
  height: 428px;
  bottom: 497px;
  left: 299px;
  background-color: #ebebeb;
}

#footer {
  position: relative;
  bottom: 485px;
  padding: 20px;
  margin: 10px;
  width: 100%;
  background-color: #ebebeb;
}
